@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
  box-sizing: border-box;
}
.seporator{
  font-size: 2em;
}
p{
  color: #fafdff;
  
}
html {
  background-color: #16171a;
  font-family: quicksand;
  --button-color: #bfff3c;
  --hover-button-color: #10d275;
}

body.displayregister {
  --button-color: #264f91;
  --hover-button-color: #10284d;
}

.infowrapper{
  text-align: center;
}
.info{
  text-decoration: none;
  color: #94216a;
  font-size: 150%;
}
.info:hover{
  transition: 0.5s;
  color: #ff80a4;
}

strong,
b {
  color: #ff80a4;
}

.hero {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

#hero-image {
  max-width: 100%;
  width: 20em;
  border-radius: 0.2em;
}

.hero > * {
  text-align: center;
}

input::placeholder,
input {
  color: #16171a;
  text-align: center;
}

#logout {
  margin: 2%;
  position: absolute;
  right: 0;
  bottom: 0;
}

#content {
  margin: 0 auto;
  width: fit-content;
}

.hidden {
  display: none;
}

input,
#swapButton {
  background-color: var(--button-color);
  border: none;
  color: #16171a;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 0.2s;
}

input[type="submit"]:not(.logout-button),
#swapButton {
  width: 100%;
}

input:hover,
#swapButton:hover {
  background-color: var(--hover-button-color);
}

.displayregister #login {
  display: none;
}

#register {
  display: none;
}

.displayregister #register {
  display: block;
}
h2{
  color: #fafdff;
}

h1{
  color: #ffffff;
}