@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    box-sizing: border-box;
}

html {
    background-color: brown;
    font-family: quicksand;

}

strong, b {
    color: aqua;
}

.hero {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

#hero-image {
    width: 100%;
    border-radius: 0.2em;
}

.hero>* {
    text-align: center;
}

input::placeholder,
input {
    text-align: center;
}

#logout {
    margin: 2%;
    position: absolute;
    right: 0;
    bottom: 0;
}

#content {
    margin: 0 auto;
    width: fit-content;
}

input {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#content input {
    width: 100%;

}

input:hover {
    transition: 0.2s;
    background-color: #337535;
}